
html {
  background-color: grey;
}

/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

h1 {
	font-size: 60px;
	margin: 0;
	padding: 20px 0;
} 

body {
  background-color: deepskyblue;
  width: 820px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

img {
  display: block;
  margin: 0 auto;
  image-orientation: center;
}

p{
  color: black;
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background-image: linear-gradient(skyblue, deepskyblue);
  color: black;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}

.likert-question{
  font:12px Arial, san-serif;
}

.likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;	
}

form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

form .likert:last-of-type {border-bottom:0;}

form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}
